/*Colors to be used:
810000
630000
1b1717
83BD75
*/

#about {
  background: #DDDDDD;
  min-height: 475px;
}
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}



.brain_img {
  border-radius: 50%;
  float:right;
  height:25%;
  margin: auto 30px auto auto;
  width:25%;
}


.code_img {
  float: right;
  height:25%;
  margin-left: 30px;
  width:25%;
}

#contact {
  background: #000000;
  min-height: 400px;

}

.container-fluid {
  padding: 1% 5%
}

.copyright_footer {
  color: grey;
  font-size: 0.75rem;
  padding:20px 0;
  font-family: serif;

}


.footer-link {
  color: white;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

.footer-link:hover {
  color: grey;
}


h1 {
  color: #fff;
  font-size: 4rem;

  /*font-family: 'Dancing Script', cursive;
  font-size: 5rem;*/
}

h2 {
  color: #fff;
  font-size: 2.5rem;
  /*font-family: 'Montserrat', sans-serif;*/
}

h3 {
  color: #630000;
  font-family: 'Montserrat', sans-serif;
}


.joe_image {
  height: 200px;
  float:left;
  margin: auto;
  width: 150px;
}

.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.navbar {
  font-size: 1.3rem;
}


.navbar-brand {
  font-size: 2rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}


p {
  margin-bottom:  2%;
}

#portfolio {
  background-color: #f7f7f7;
  min-height: 700px;
}

.profile {
  min-height: 100px;
  overflow: hidden;
  width: 50%;
  margin: auto 25% auto 25%;
  text-align: left;
  line-height: 2;
}


.skill-row {
  margin: 100px auto 100px;
  width: 50%;
  text-align: left;
  line-height: 2;

}

span {
  font-weight: bold;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
}


.subtitle {
  font-weight: normal;
}

#title {
  background-image: url('image/teton.JPG');
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  text-align: center;
  min-height: 700px;
}

.top-container {
  margin-top: 15%
}
