/*Colors to be used:
810000
630000
1b1717
83BD75
*/

#about {
  background: #DDDDDD;
  min-height: 400px;
}

.bar {
  display: block;
}

@media screen and (max-width: 799px) {
  .bg-image {
    background-image: url('image/wallpaper/forest4.JPG');
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    background-position: top center;
  }
}

@media screen and (min-width: 800px) {
.bg-image {
  background-image: url('image/wallpaper/forest2.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  background-position: center;
}}


.mask {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
}



body {
  margin: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: 500;
}


.btn {
  font-family: 'Montserrat', sans-serif;
}


#contact {
  padding: 2% 4%;
  background: #262626;
  min-height: 50px;

}

.container-fluid {
  padding: 1% 5%
}

.copyright{
  margin-top: 5%;
  text-align:center;
  color: grey;
  font-size: 1rem;
  font-family: serif;
}

.copyright-par {
  text-align: center;
}

div {
    display: block;
}


.footer-link {
  font-weight: 400;
  font-size: 36px;
  color: white;
}

.footer-link:hover {
  color: grey;
}

.footer-title {
  text-align: center;
  margin: 5% auto;
}

h1 {
  color: #fff;
  font-size: 4rem;
  font-family: 'Ubuntu', sans-serif;

  /*font-family: 'Dancing Script', cursive;
  font-size: 5rem;*/
}

h2 {
  color: #fff;
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
  /*font-family: 'Montserrat', sans-serif;*/
}

h3 {
  color: #0f3e0f;/*#630000;*/
  font-family: 'Montserrat', sans-serif;
}

h4 {
  color: white;
}

.icon-port {
  color: black;
  margin: 3% auto;
}

.icon-port:hover {
  color: grey;
}


.joe_image {
  height: 300px;
  float:left;
  margin: auto;
  width: 260px;
}


.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}


.navbar {
  font-size: 21px;
  width: 100%;
}


.navbar-brand {
  font-size: 32px;
  font-weight: bold;
  font-family: 'My Soul',cursive;
}

.nav-item {
  padding: 0 18px;
  font-family: 'Montserrat', sans-serif;
}


p {
  margin-bottom:  2%;
  text-align: justify;
  text-justify: inter-word;
}

.par-title {
  color: #0f3e0f;/*#630000;*/
  font-family: 'Montserrat', sans-serif;
}

.picture {
  margin-bottom:30px ;
}

#portfolio {
  background-color: #f7f7f7;
  min-height: 500px;
}

.proj-bar {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: inline-flex;
}

.proj-bar li {
  margin-right: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.skills-table {
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
}

.social_widget .list li {
    margin: 3% 2.5rem;
    display: inline-block;
}


span {
  font-weight: bold;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
}


.subtitle {
  font-weight: normal;
}


.top-container {
  margin-top: 170px
}
